.input {
    display: grid;
    font-family: "Montserrat";
}

* {
    box-sizing: border-box;
  }
 
  .input {
    font-family: "Montserrat";
    width: 100%;
    height: 110px;
    overflow: hidden;
    position: relative;
    font-size: 1.1rem;
  }
  label {
    font-family: "Montserrat";
    position: absolute;
    top: 1.4rem;
    left: 1rem;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    cursor: text;
    transition: 0.25s ease;
  }
  input {
    display: block;
    padding-top: 2rem;
    border: none;
    border-radius: 0;
    color: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0);
    font-size: 1.4rem;
    font-family: "Montserrat";
    transition: 0.3s ease;
  }
  input:valid ~ label {
    top: 0;
    font-size:1.4rem; 
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
  }
  input:focus {
    outline: none;
  }
  input:focus ~ label {
    top: 0;
    font: 1.5rem;
    color: #353535;
  }
  input:focus ~ .bar:before {
    transform: translateX(0);
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #333 inset;
    -webkit-text-fill-color: white !important;
  }
  .bar {
    background: rgba(7, 7, 7, 0.5);
    content: '';
    height: 0.1rem;
    transition: 0.3s ease;
    position: relative;
  }
  .bar:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 150%;
    background: blanchedalmond;
    transform: translateX(-100%);
  }
  ::selection {
    background: rgb(243, 204, 145);
  }