html {
  background: blanchedalmond;
}

.App {
  border-radius: 4rem;
  width: 50%;
  height: 100%;
  background-color: white !important;
  margin: 0 auto;
  text-align: left;
  font-family: "Montserrat";
}
